<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech blog</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">

  {{!-- Bootstrap CSS include --}}
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

  {{!-- Botostrap Icons include --}}
  <link rel="stylesheet" href="/css/bootstrap-icons.css">

  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-gray my-0">
    <div class="container-fluid">
      <a class="navbar-brand ms-2 fs-1 mb-1 h1" href="/articles">Tech Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-5 text-decoration-underline text-orange" aria-current="page"
              href="/articles">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 text-decoration-underline text-orange" aria-current="page"
              href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 text-decoration-underline text-orange" aria-current="page"
              href="/about">About</a>
          </li>
        </ul>
        {{#if user}}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi text-white bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <a class="nav-link active fs-5 text-decoration-underline text-white username-link me-2 px-1" aria-current="page"
          href="#">
          {{user.username}}
        </a>
        <form action="/logout" method="post" class="d-flex mt-1 me-2">
          <button class="btn btn-outline-danger" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            Log out
          </button>
        </form>
        {{else}}
        <form action="/registration" method="get" class="d-flex mt-1 me-2">
          <button class="btn btn-outline-primary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-person-lines-fill" viewBox="0 0 16 16">
              <path
                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
            </svg>
            Sign in
          </button>
        </form>
        <form action="/login" method="get" class="d-flex mt-1 me-2">
          <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
            Sign up
          </button>
        </form>
        {{/if}}
        <form action="/articles" method="get" class="d-flex mt-1">
          <input class="form-control me-2" type="search_title" name="search_title" placeholder="Article's title"
            aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container my-5">
    {{!-- Content here --}}
    {{!-- TODO: Add admin's permissions check --}}
    {{{body}}}
  </div>

  {{!-- Bootstrap JS include --}}
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>