body {
  background-color: #2e3436;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #2e5da4;
  border-color: #2e5da4;
}

.btn-secondary {
  background-color: #555753;
  border-color: #555753;
}

.btn-danger {
  /* background-color: #a11c1c;
  border-color: #a11c1c; */
  background-color: #b13232;
  border-color: #b13232;
}

.btn-outline-danger {
  color: #e84545;
  border-color: #e84545;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-primary {
  color: #5495e0;
  border-color: #5495e0;
}

.btn-outline-primary:hover {
  background-color: #5495e0;
  border-color: #5495e0;
}

.btn-outline-success {
  color: #20c997;
  border-color: #20c997;
}

.btn-outline-success:hover {
  background-color: #20c997;
  border-color: #20c997;
}

.bg-dark-gray {
  background-color: #2e3436;
}

.bg-darker-gray {
  background-color: #272c2d;
}

.text-orange {
  color: rgb(255, 188, 81) !important;
}

.text-gray {
  color: #d3d7cf !important;
}

.text-light {
  color: #e6e6e6 !important;
}

.author {
  color: #20c997;
  text-decoration: underline;
}

.registration-form {
  margin: 0 20rem 0 20rem;
}

.bi-person {
  color: white;
}

/* .username-link {
  padding: 10px 5px;
} */
