<div class="card text-center bg-dark-gray text-white py-4 mx-auto" style="width: 30rem; border: 0">
  <div class="card-body">
    <h4 class="card-title">Error 400</h4>
    {{#if message}}
    <p class="card-text">{{message}}</p>
    {{#each errors}}
    <p class="card-text">{{this.msg}}</p>
    {{/each}}
    {{/if}}
    <a onclick="history.back()" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
      Go back
    </a>
  </div>
</div>