<a href="/articles/create" class="btn btn-warning mx-5">Create article</a>
{{#each articles}}
<div class="card text-white bg-darker-gray mt-4 mx-5">
  <div class="card-body">
    <h3 class="card-title text-decoration-underline">
      <a href="/articles/{{this.article_id}}" class="text-light">{{this.article_title}}</a>
    </h3>
    <p class="card-subtitle text-gray mb-4"><span class="author">{{this.user_name}}</span> ({{shortDateFormat
      this.created_at}})</p>
    <p class="card-text text-gray fs-5">{{this.article_description}}</p>
    <div class="d-grid gap-2 d-md-block">
      <a href="/articles/{{this.article_id}}" class="btn btn-primary">Read more</a>
      {{!-- {{#if user}}
      <a href="/articles/edit/{{this.article_id}}" class="btn btn-secondary ms-1" type="button">Edit</a>
      {{/if}} --}}
    </div>
  </div>
</div>
{{/each}}