<form action="/articles/edit/{{article.article_id}}" method="post" class="mx-5">
  <div class="mb-3">
    <label for="title" class="form-label text-light fs-5">Title</label>
    <input required type="text" name="title" id="title" class="form-control" value="{{article.article_title}}"
      minlength="10" maxlength="64">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label text-light fs-5">Description</label>
    <textarea required class="form-control" name="description" id="description" rows="3" minlength="10"
      maxlength="255">{{article.article_description}}</textarea>
  </div>
  <div class="mb-3">
    <label for="text" class="form-label text-light fs-5">Content</label>
    <textarea required class="form-control" name="content" id="content" rows="11">{{article.article_content}}</textarea>
  </div>
  <button type="submit" class="create-article btn btn-primary me-1">Edit article</button>
  <a href="/articles" class="btn btn-secondary">Back</a>
</form>