<div class="card text-white bg-darker-gray mx-5">
  <div class="card-body">
    <form action="/articles/delete/{{article.article_id}}" method="post">
      <h3 class="card-title text-decoration-underline">{{article.article_title}}</h3>
      <p class="card-subtitle text-gray mb-4"><span class="author">{{article.user_name}}</span> ({{shortDateFormat
        article.created_at}})</p>
      <p class="card-text article-content-text text-gray fs-5">{{article.article_content}}</p>

      {{!-- {{#if isAuthor}}
      <div class="d-grid gap-2 d-md-block">
        <a href="/articles/edit/{{article.article_id}}" class="btn btn-secondary ms-1" type="button">Edit</a>
        <button class="btn btn-danger ms-1" id="btn-delete" type="submit">Delete</button>
      </div>
      {{/if}} --}}

      {{#if (or (or (eq user.role 'ADMINISTRATOR') (eq user.role 'MODERATOR')) isAuthor) }}
      <div class="d-grid gap-2 d-md-block">
        <a href="/articles/edit/{{article.article_id}}" class="btn btn-secondary ms-1" type="button">Edit</a>
        <button class="btn btn-danger ms-1" id="btn-delete" type="submit">Delete</button>
      </div>
      {{/if}}
    </form>
  </div>
</div>