<div class="info text-white pt-4 mx-auto" style="max-width: 50rem;">
  <h3>About this site:</h3>
  <p class="lh-base text-gray fs-5">
    &nbsp;&nbsp;This "tech blog" was created as one of my personal projects for both university course and my portfolio.
    So, it is a kind of my pet project, where i practice my backend skills with Node.js, Express.js, and
    PostgreSQL (and frontend ones with Bootstrap a bit too).
  </p>
  <p class="lh-base text-gray fs-5">
    &nbsp;&nbsp;Here you can register, post multiple "tech" articles, search by article title, and delete or edit your
    own ones. Enjoy it!
  </p>
  <h4 class="pt-5">Contacts:</h4>

  <p class="text-gray fs-5">
    <svg class="mb-1" style="height: 32px; width: 32px; color: rgb(255, 145, 81);" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none"></rect>
      <path
        d="M231.9,169.8l-94.8,65.6a15.7,15.7,0,0,1-18.2,0L24.1,169.8a16.1,16.1,0,0,1-6.4-17.3L45,50a12,12,0,0,1,22.9-1.1L88.5,104h79l20.6-55.1A12,12,0,0,1,211,50l27.3,102.5A16.1,16.1,0,0,1,231.9,169.8Z"
        fill="#FFBC51"></path>
    </svg>
    gitlab: <a href="https://gitlab.com/TonAngeGris" class="text-orange">@TonAngeGris</a>
  </p>

  <p class="text-gray fs-5">
    <svg class="mb-1" style='height: 30px; width: 30px; color:rgb(255, 255, 255);' xmlns="http://www.w3.org/2000/svg"
      width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path
        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
    </svg>
    email: <a href="mailto: belarkado@protonmail.com" class="text-orange">belarkado@protonmail.com</a>
  </p>

  <p class=" text-gray fs-5">
    <svg class="mb-1" style="height: 32px; width: 32px; color: rgb(19, 138, 197);" xmlns="http://www.w3.org/2000/svg"
      width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"
        fill="#138AC5"></path>
    </svg>
    telegram: <a href="https://t.me/belarkado" class="text-orange">@belarkado</a>
  </p>

</div>