<form action="/login" method="POST" class="d-grid mx-auto" style="max-width: 500px;">
  <div class="mb-4 mt-5">
    <input required type="text" name="username" id="username" placeholder="Username" class="form-control">
  </div>
  <div class="mb-3">
    <input required type="password" name="password" id="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success mt-1 mx-auto" style="width: 140px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key-fill"
      viewBox="0 0 16 16">
      <path
        d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
    </svg>
    Sign in
  </button>
</form>