<form action="/registration" method="POST" class="d-grid mx-auto" style="max-width: 500px;">
  <div class="mb-4 mt-5">
    <input required type="text" name="username" id="username" placeholder="Username" class="form-control" minlength="5"
      maxlength="32">
  </div>
  <div class="mb-3">
    <input required type="password" name="password" id="password" placeholder="Password" class="form-control"
      minlength="8" maxlength="128">
  </div>
  <button type="submit" class="btn btn-primary mt-1 mx-auto" style="width: 140px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
      class="bi bi-person-lines-fill me-1" viewBox="0 0 16 16">
      <path
        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
    </svg>
    Sign up
  </button>
</form>