<table class="table table-dark table-striped table-hover" style="table-layout: fixed;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Articles</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.user_id}}</th>

      <td>{{this.user_name}}</td>

      <td>{{this.user_role}}</td>
      
      {{#if (gt this.article_count 0)}}
      <td><a class="text-orange" href="/articles?search_user={{this.user_name}}">{{this.article_count}}</a></td>
      {{else}}
      <td>{{this.article_count}}</td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>